/* author: Daniel Nazeri
*/

@font-face {
    font-family: stl;
    src: url(Some\ Time\ Later.otf);
}

h1{
    font-family: stl;
    font-size:5.5em;
    margin:0.5em;
    color: #99ffff;
}

p{
    color:white;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:1.3em;
    margin:2em;
}

body{
    margin:3em;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:#211E93;
}

#box1{
    width:90%;
    height:50%;
    margin:auto;
    margin-top:0em;
    padding:1em;
    background: url('images/resultsbgpattern.png'), repeat;
    border-radius:20px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.highlighted{
	background-color: rgba(167,113,209,.7);
    border-radius:20%;
}

input[type=submit]{
    font-family:"Trebuchet MS", sans-serif;
    font-size:1em;
    height:1.8em;
    width:auto;
    padding-left:0.7em;
    padding-right:0.7em;
    background:white;
}

table {
    background: url('images/resultsbgpattern.png'), repeat;
}

th {
    font-family: stl;
    src: url(Some\ Time\ Later.otf);
    font-size: 2.0em;
    color: #99FFFF;
}

td {
    color: #99FFFF;
}
